<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>
        <h1>This is the home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque voluptatibus quaerat maxime a illum corporis deserunt? Impedit voluptatibus excepturi, itaque, deleniti fuga laborum, minus nobis harum ducimus vel rerum!</p>
    </main>
    
    
    <div>
       Testing my calculator using EJS <%= 4 + 5 %>
    </div>
    
</body>
</html>