:root{
    --white : #fff;
}

body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("images/football-field-bg.jpg");
    margin: 0;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
}


main {
    margin: 0 auto;
    max-width: 501px;
    background-color: #fff;

}

#score-board {
    background-image: url("images/football-field.jpg");
    background-size: cover;
    box-shadow: 5px 200px 5px 5px  #00000052 inset;
    color: var(--white);
    
    #scores {
        display: flex;
        flex-wrap: nowrap;
        align-content: space-evenly;
        
        align-items: center;
    }
    
    .score {
        font-size: 5rem;
        font-weight: 700;
    }
    
    hr {
        width: 50px;
        height: 10px;
        background-color: var(--white);
        border: none;

    }
}
