:root {
  --white: #fff;
  --gray: #ebebeb91;
}

body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("images/football-field-bg.jpg");
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  box-shadow: 0 30000px rgba(0, 0, 0, 0.459) inset;
  h1{
    margin-top: 0;
    color:var(--white);
  }
}

main {
  margin: 0 auto;
  max-width: 501px;
  background-color: var(--white);
  border-radius: 10px;
}

#score-board {
  background-image: url("images/football-field.jpg");
  background-size: cover;
  box-shadow: 5px 2000px 5px 5px #00000091 inset;
  background-position: center;
  color: var(--white);

  #scores {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 2em;
  }

  .score {
    font-size: 5rem;
    font-weight: 700;
  }

  
  #time {
    h2 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    #time-left {
        background-color: var(--white);
        width: 120px;
        margin:0 auto;
        padding:  0.1rem;
        color: red;
        font-size: 1.5rem;
        font-weight: 700;
    }
  }
}


#teams {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1rem;
    
    
    h2 {
      padding: 0 0.3em;
      font-size: 1rem;
    }
    
    select {
      width: 160px;
      background-color: var(--gray);
      border: none;
      font-size: 0.9rem;
      color:#0f0f0f;
      text-align: center;
      height: 30px;
    }
}

#game-duration{
  padding-top: 0;
  padding-bottom: 10px;
  
  h2{
    font-size: 1rem;
    margin: 0;
  }
  
  select {
    width: 120px;
    background-color: #445B7B;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color:var(--white);
    text-align: center;
    height: 30px;
  }
  
  span {
    display: block;
  }
  button {
    background-color: var(--gray);
    color: #445B7B;;
    border: none;
    padding: 0.6em;
    font-weight: 900;
  }
}

#controls {
  display: grid;
  grid-template-columns: auto auto auto;
  
  button {
    border:none;
    padding: 0.5em;
    font-size: 1rem;
    color: var(--white);
    font-weight: 600;
  }

  
  #team1-update{
    grid-row: 1/3;
    background-color: #2885EF;
  }
  #team1-update:hover{
    background-color: #004da5;
  }
  
  #startBtn {
    grid-row: 1/1;
    background-color: #ffa600;
  }
  #startBtn:hover {
    background-color: #855b00;
  }
  
  #resetBtn {
    background-color: #BE1313;
  }
  #resetBtn:hover {
    background-color: #970000;
  }
  
  #team2-update{
    grid-row: 1/3;
    background-color: #3CAA00;
  }
  #team2-update:hover{
  background-color: #287400;
  }
  
}


#project-details {
  background-color: #F3F3F3;
  padding: 1em 0.5em;
  
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 1rem;
  }
  
  p {
    margin: 0.2em; 
    padding: 1em;
  }
  #attribution {
    font-size: 0.8rem;
  }
}